{% extends './layout.html' %}
<head>
    <meta charset="UTF-8">
    <title>知乎赞数增长图</title>
    {% block head %}
    <style>
        #container{
            position: relative;
            top:150px;
            margin: 0 20px;
        }
    </style>
    {% endblock %}

</head>
<body>
{% block body %}
<div id="container"></div>
{% endblock %}
</body>
{% block script%}
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script>
    var chart=null;
    $.getJSON('http://www.magicluna.me/datajson', function (data) {
        chart = Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: '现代的大部分女性并没有受到不公平待遇，可是为什么会有那么多人在意女权主义?'
            },
            subtitle: {
                text: '链接：https://www.zhihu.com/question/64427330/answer/348184378'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            tooltip: {
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            yAxis: {
                title: {
                    text: '赞'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    //threshold: 0
                }
            },
            series: [{
                turboThreshold:0 ,
                //             type: 'area',
                name: '赞',
                data: data
            }]
        });
    });

</script>
{% endblock %}



